# Archivos de credenciales y configuración sensible
.env
config/*.json

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# Entornos virtuales
env/
venv/

# Archivos temporales del proyecto
maestro_temp.csv
stock_temp.csv
ventas_temp.csv